<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.new-impulse.antioxidant-superfood"
    versionCode = "10"
    version     = "1.3.0" >

<!-- versionCode is optional and Android only -->

  <name>Antioxidant Superfood: foods that fight aging</name>

  <description>
      Uses and Benefits of Antioxidant Superfoods
  </description>

  <author href="http://new-impulse.com" email="info@new-impulse.com">
     New-impulse media
  </author>
  
   <platform name="ios" />
      
      <!-- all platforms -->
  <preference name="phonegap-version" value="cli-6.3.0" />
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />

  
  


  <!-- iOS only -->
  <preference name="target-device" value="universal" />
  <preference name="prerendered-icon" value="false" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="true" />
  <preference name="deployment-target" value="6.0" />

  <!-- Android only -->
  <preference name="android-build-tool" value="ant|gradle" />
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="15" />
  <preference name="android-targetSdkVersion" value="12" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="stateVisible|adjustResize" />
    
    
    
    
    <content src="index.html" />
    
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />


    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="3000"/>

<!-->
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
-->
      
<platform name="ios">

       <!--  iOS 8.0+ -->
       

       <!-- iPhone 6 Plus  -->

       <icon src="resources/ios/icon2/icon-60@3x.png" width="180" height="180" />

       <!-- iOS 7.0+ -->

       <!-- iPhone / iPod Touch  -->

       <icon src="resources/ios/icon2/icon-60.png" width="60" height="60" />

       <icon src="resources/ios/icon2/icon-60@2x.png" width="120" height="120" />

       <!-- iPad -->

       <icon src="resources/ios/icon2/icon-76.png" width="76" height="76" />

       <icon src="resources/ios/icon2/icon-76@2x.png" width="152" height="152" />

       <!-- iOS 6.1 -->

       <!-- Spotlight Icon -->

       <icon src="resources/ios/icon2/icon-40.png" width="40" height="40" />

       <icon src="resources/ios/icon2/icon-40@2x.png" width="80" height="80" />

       <!-- iPhone / iPod Touch -->

       <icon src="resources/ios/icon2/57pt-1x.png" width="57" height="57" />

       <icon src="resources/ios/icon2/icon-72@2x.png" width="114" height="114" />

       <!-- iPad -->

       <icon src="resources/ios/icon2/icon-72.png" width="72" height="72" />

       <icon src="resources/ios/icon2/icon-72@2x.png" width="144" height="144" />

       <!-- iPhone Spotlight and Settings Icon -->

       <icon src="resources/ios/icon2/icon-small.png" width="29" height="29" />

       <icon src="resources/ios/icon2/icon-small@2x.png" width="58" height="58" />

       <icon src="resources/ios/icon2/icon-small@3x.png" width="87" height="87" />

       <!-- iPad Spotlight and Settings Icon -->

       <icon src="resources/ios/icon2/icon-50.png" width="50" height="50" />

       <icon src="resources/ios/icon2/icon-50@2x.png" width="100" height="100" />

       <!-- IPad Pro -->

       <icon src="resources/ios/icon2/835pt-2x.png" width="167" height="167" />

       <!-- Apple Watch -->


   </platform> 
	
    <platform name="ios">
        
        <splash height="1136" src="resources/ios/splash/Default-568h@2x~iphone.png" width="640" />
        <splash height="1334" src="resources/ios/splash/Default-667h.png" width="750" />
        <splash height="2208" src="resources/ios/splash/Default-736h.png" width="1242" />
        <splash height="2048" src="resources/ios/splash/Default-Portrait@2x~ipad.png" width="1536" />
        <splash height="1024" src="resources/ios/splash/Default-Portrait~ipad.png" width="768" />
        <splash height="960" src="resources/ios/splash/Default@2x~iphone.png" width="640" />
        <splash height="480" src="resources/ios/splash/Default~iphone.png" width="320" />
    </platform>

<gap:plugin name="org.apache.cordova.splashscreen" />
<preference name="auto-hide-splash-screen" value="false" />
<preference name="FadeSplashScreen" value="true" />  
<preference name="FadeSplashScreenDuration" value="0.5" />

<preference name="ShowSplashScreenSpinner" value="false"/>
<preference name="disable-cursor" value="false" /> 

<gap:plugin name="cordova-plugin-admobpro" source="npm" /> 

<gap:plugin name="cordova-plugin-inappbrowser" source="npm" />


 

    <icon src="resources/android/icon/drawable-xhdpi-icon.png" />
    <allow-navigation href="*" />
    <allow-intent href="*" />
    <access origin="*" />


</widget>

